body {
  font-family: "Source Code Pro", monospace;
  background: hsla(154, 100%, 76%, 1);

  background: linear-gradient(
    90deg,
    hsla(154, 100%, 76%, 1) 0%,
    hsla(234, 100%, 83%, 1) 50%,
    hsla(288, 100%, 81%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(154, 100%, 76%, 1) 0%,
    hsla(234, 100%, 83%, 1) 50%,
    hsla(288, 100%, 81%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(154, 100%, 76%, 1) 0%,
    hsla(234, 100%, 83%, 1) 50%,
    hsla(288, 100%, 81%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#84ffc9", endColorstr="#aab2ff", GradientType=1 );

  /* margin: 0 auto;
  max-width: 600px; */
}

ul {
  list-style-type: square;
}
#col {
  margin: 0 auto;
  max-width: 600px;
}

.section1 {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.1%;
  vertical-align: middle;
  margin-top: 10px;
}

.insights {
  margin-top: 20px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.1%;
  vertical-align: middle;
  margin-bottom: 20px;
}

.conclusion {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.1%;
  vertical-align: middle;
  margin-bottom: 20px;
}
